astunparse==1.6.3
flatbuffers==25.2.10
gast==0.4.0
google-auth==2.11.0
h5py==3.12.1
keras==3.9.1
matplotlib==3.5.2
numpy==1.26.4
opencv-contrib-python==4.6.0.66
protobuf==4.25.6
tensorflow==2.17.0
lime
scikit-learn
skimage
